
/*mobile first*/

* {
  box-sizing: border-box; 
}

html, body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  color: rgb(255,255,255);
}

#bg { 
  height: 100vh;
  overflow: auto;
  margin: auto;
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 250px; 

  h1 {
    padding: 40px 10px;
    font-size: 50px;
    font-family: "Megrim", sans-serif;
    text-decoration: underline;
    text-align: center;
  }

  #quote-box {
    background-color: transparent;
    border: 10px solid white;
    border-radius: 70px;
    padding: 10px;
    max-width: 90%;

    blockquote {
      #text {
        text-align: center;
        padding: 10px;
        font-family: "Exo", sans-serif;
        font-size: 24px;
      
        &::before {
          content: open-quote;
          font-size: 50px;
        }
      
        &::after {
          content: close-quote;
          font-size: 50px;
        }
      }
      
      footer {
        text-align: right;
        font-size: 20px;
      }
    }

    #buttons {
      padding: 40px;
      padding-top: 20px;

      #tweet-quote, #new-quote {
        color: rgb(255,255,255);
        padding: 10px;
        padding-right: 30px;

        &:hover {
          font-size: 15px;
        }
      }
    }
  }
}


/*============Background Theme Mixin==========
====================================================*/

@mixin grad($pri, $sec){
    background-image: linear-gradient($pri, $sec);
}

.first {
  @include grad(#7b4397, #d38312);
}
.second {
  @include grad(#A83279, #D38312);
}
.third {
  @include grad(#696D7D, #6F9);
}
.forth {
  @include grad(#360033, #0b8793);
}
.fifth {
  @include grad(#4b1248, #f0c27b);
}
.sixth {
  @include grad(#c79081, #dfa579);
}
.seventh {
  @include grad(#9abb4e, #57aa62);
}


/*========Media Queries for Bigger Screens========
====================================================*/

@media screen and (min-width: 798px){
  #bg {
    width: 100vw;
    
    h1 {
      padding: 10px;
      padding-bottom: 50px;
    }

    #quote-box {
      max-width: 70%;
      padding: 10px;
      margin: 0 auto;
    
      blockquote #text {
        font-size: 22px;  
      }

      blockquote footer {
        font-size: 20px;
      }

      #buttons {
        #tweet-quote, #new-quote {
          padding-left: 30px;
        }
      }
    }
  }  
}